@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-lm-VLG dark:bg-black;
  }
}

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    /* background: #e0cbcb; */

    border-radius: 100vh;
    @apply bg-dm-VDDesatBlue border-[3px] border-solid border-dm-VDDesatBlue dark:border-lm-VLG;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .overTarget {
    @apply opacity-40 dark:opacity-75 bg-slate-300 dark:bg-slate-600 scale-110 !important;
  }

  .dragItem {
    @apply opacity-10;
  }

  .checkbox-div:hover {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
        border-box;
  }

  .dark .checkbox-div:hover {
    background: linear-gradient(hsl(235 24% 19%), hsl(235 24% 19%)) padding-box,
      linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
        border-box;
  }
}
